# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Migrations (optional)
# Usually keep migrations in real projects, but for personal projects you may ignore them:
# */migrations/*.py

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db